@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional defaults can be placed here if needed */

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
